<head>
  <title>ログイン</title>
  <meta name="title" content="ログイン">
  <meta charset="UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="description" content="ログインを行います。">
</head>


<div class='app w-full'>
  <div class='content'>
    <div class="flex justify-center items-center mt-10">
      <div class="w-full max-w-xs">
          <h1 class="font-hairline mb-6 text-2xl font-bold text-center">ログイン</h1>
          <%= form_for(resource,
                      as: resource_name,
                      url: session_path(resource_name),
                      html: {
                              class: "mb-4 px-8 pt-6 pb-8 rounded leading-none border border-amber-600 bg-white"
                      }
              ) do |f| %>

            <%= devise_simple_error_messages! %>

            <% if flash.present? %>
                <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
                    <%- flash.each do |name, msg| -%>
                        <%= content_tag :p,
                                        msg.humanize,
                                        id: "flash_#{name}" if msg.is_a?(String) %>
                    <%- end -%>
                </div>
            <% end %>

            <div class="mb-4">
                <%= f.label 'メールアドレス', class: "block text-gray-700 text-sm font-bold mb-2" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email",id: "email_form",
                                class: "appearance-none border border-gray-300 borderrounded w-full py-2 px-3 text-gray-700 leading-tight foucs:outline-none"
                %>
            </div>

            <div class="mb-4">
              <%= f.label 'パスワード', class: "block text-gray-700 text-sm font-bold mb-2" %>
              <%= f.password_field :password,
                                    autocomplete: "current-password",
                                    class: "appearance-none border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
              %>
              <p><%= link_to "パスワードを忘れた", new_user_password_path(resource_name),
              class: "flex justify-end inline-block align-baseline text-sm text-amber-600 hover:no-underline underline"%></p>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="mb-4">
                <%= f.check_box :remember_me, class: "mr-2 leading-tight" %>
                <%= f.label 'ログイン情報を保持する',class: "align-baseline inline-block text-gray-700 text-sm"%>
              </div>
            <% end %>

            <div class="mb-4 flex justify-center items-center">
                <%= f.submit "ログイン",
                            class: "button w-40 py-2 px-4 rounded inline-block text-md h-10 leading-none border rounded text-white border-slate-800 bg-slate-800 hover:border-transparent hover:bg-amber-600 hover:cursor-pointer"
                %>
            </div>
            <p><%= link_to "未登録の方はこちらからサインアップ", '/users/sign_up',
              class: "inline-block align-baseline text-sm text-amber-600  hover:no-underline underline"%></p>
          <% end %>
          <%= render "devise/shared/form_footer" %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
