<div class='app w-full'>
  <%= render 'shared/header' %>
  <div class='items-center'>  
    <h1 class='text-xl border-b' >Order2Postで変換する</h1 >
    <div class='ml-5'>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block mb-5'>ファイルの選択</h2>
    
      <p>ログイン後、ファイルを選択ボタンをクリックし、minne、Creemaでダウンロードした注文一覧ファイルを選択します。</p>
      <div class='border border-slate-400 inline-block justify-center items-center mt-5 mb-10'><%= vite_image_tag('entrypoints/images/select_file.png') %></div>
      <p>注文一覧データを追加したい場合は『はい』をクリックします。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-5 mb-10'><%= vite_image_tag('entrypoints/images/modal.png') %></div>
      <p>クリックポストで発送したい注文にチェックが入っていることを確認します。</p>
      <p>まだ発送したくない注文はチェックを外してください。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-5 mb-10'><%= vite_image_tag('entrypoints/images/checkbox.png') %></div>
      <p>画面最下部のクリックポスト変換ボタンをクリックします。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-5 mb-10'><%= vite_image_tag('entrypoints/images/convertbutton.png') %></div>
      <br>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block'>内容品の設定</h2>
      <p>クリックポストのラベルに記載される内容品欄を設定します。</p>
      <p>全て同じ内容品にしたい場合は内容品設定欄に内容品を記入します。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-10 mb-10'><%= vite_image_tag('entrypoints/images/all_convert.png') %></div>
      <p>商品毎に内容品を設定したい場合、内容品個別設定欄に内容品を記入します(内容品個別設定の内容は保存されます)。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-10 mb-10'><%= vite_image_tag('entrypoints/images/individual_convert.png') %></div>
      <p>クリックポスト変換、個別変換ボタンをクリックします。</p>

      <br>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block'>ファイルのダウンロード</h2>
      <p>表示された内容に間違いがないかを確認し、ダウンロードボタンを押します。</p>
      <div class='border border-amber-700 inline-block justify-center items-center mt-10 mb-10'><%= vite_image_tag('entrypoints/images/download.png') %></div>
      <br>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block'>クリックポストの申込み</h2>
      <p>クリックポストのまとめ申込フォームでダウンロードしたファイルを選択します。</p>
      <br>
    </div>
    <div>
    <h1 class='text-xl border-b' >各サービスでの注文一覧ファイルダウンロード手順</h1 >
    <div class='ml-5'>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block'>minneの場合</h2>

      <p>1. minneにログイン後、売れたものページにアクセス</p>
      <p>2. 注文一覧ダウンロードはこちらのリンクをクリック</p>
      <p>3. 年月を選択し、ダウンロードボタンをクリック</p>
      <br>
      <h2 class='text-lg border-b-2 border-amber-700 inline-block'>Creemaの場合</h2>
      <p>1. Creemaにログイン後、取引中一覧ページにアクセス</p>
      <p>2. CSVダウンロードボタンをクリック</p>
      <p>3. 形式を『Excel以外の表計算ソフト向け(UTF-8)』に変更する</p>
      <p>4. ダウンロードボタンをクリック</p>
      <br>
    </div>
    <a class='inline-block text-lg px-4 py-2 leading-none text-slate-400 hover:underline m-1' href='/'>トップページに戻る</a>
  </div>
  <%= render 'shared/footer' %>
</div>
