<!DOCTYPE html>
<html>
  <head prefix=”og: http://ogp.me/ns#”>
    <title>Order2Post</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:url" content="order2post.fun" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Order2Post" />
    <meta property="og:description" content="minne、Creemaの注文情報をクリックポストのまとめ申込ファイルに変換します" />
    <meta property="og:site_name" content="Order2Post" />
    <meta property="og:image" content=<%= vite_asset_path('entrypoints/images/OGP.png') %> />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rira100000000" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= stylesheet_link_tag vite_asset_path('application.css') %>
    <%= vite_react_refresh_tag %>
    <script src="https://kit.fontawesome.com/7da7ad13fa.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="icon" href=<%= vite_asset_path 'entrypoints/images/favicon.png' %> />

    <%= content_tag(:div, '', id: 'csrf-token', data: { token: form_authenticity_token }) %>
    <% if user_signed_in? %>
      <meta name="user-signed-in" content="true">
    <% else %>
      <meta name="user-signed-in" content="false">
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
        function dismissMessage() {
            const flashMessage = document.getElementById("flashMessage");
            flashMessage.style.display = "none";
        }
    </script>
</html>
