<!DOCTYPE html>
<html>
  <head prefix=”og: http://ogp.me/ns#”>
    <%= display_meta_tags default_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'stylesheets/application.css' %>
    <%= vite_react_refresh_tag %>
    <script src="https://kit.fontawesome.com/7da7ad13fa.js" crossorigin="anonymous"></script>

    <link rel="icon" href=<%= vite_asset_path 'images/favicon.png' %> />

    <%= content_tag(:div, '', id: 'csrf-token', data: { token: form_authenticity_token }) %>
    <% if user_signed_in? %>
      <meta name="user-signed-in" content="true">
    <% else %>
      <meta name="user-signed-in" content="false">
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script>
        function dismissMessage() {
            const flashMessage = document.getElementById("flashMessage");
            flashMessage.style.display = "none";
        }
    </script>
</html>
