<!DOCTYPE html>
<html>
  <head>
    <title>CSV変換君</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "print" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'application.jsx' %>
    
    <script src="https://cdn.tailwindcss.com"></script>

    <%= content_tag(:div, '', id: 'csrf-token', data: { token: form_authenticity_token }) %>
    <% if user_signed_in? %>
      <meta name="user-signed-in" content="true">
    <% else %>
      <meta name="user-signed-in" content="false">
    <% end %>
  </head>

  <body>
    <nav class="flex items-center justify-between flex-wrap bg-white p-3 border-b border-t-0 border-l-0 border-r-0 border-amber-400 print_none">
      <div class="flex flex-shrink-0 text-amber-500 mr-6" >
        <a href=<% root_path %>><img src="../src/assets/logo_origin.png" width="280" alt="ロゴ" align="middle"></a>
      </div>
      <div class="block flex-grow flex justify-end items-center mr-4">
        <div class="text-sm lg:flex-grow">
          <strong class="flex justify-end mt-0 mr-2 text-amber-500">
            <%= current_user.email if user_signed_in?%>
          </strong>
        </div>
         <div>
          <% if user_signed_in? %>
              <a href="/users/sign_out" id="signout_button"class="inline-block text-sm px-4 py-2 leading-none border rounded text-amber-500 border-amber-500 hover:border-transparent hover:text-white hover:bg-amber-500 lg:mt-0">サインアウト</a>

          <% else %>
              <a href="/users/sign_in" id="login_button" class="inline-block text-sm px-4 py-2 leading-none border rounded text-amber-500 border-amber-500 hover:border-transparent hover:text-white hover:bg-amber-500 mt-4 lg:mt-0">ログイン</a>
              <a href="/users/sign_up" id="signup_button" class="inline-block text-sm px-4 py-2 leading-none border rounded text-amber-500 border-amber-500 hover:border-transparent hover:text-white hover:bg-amber-500 mt-4 lg:mt-0">サインアップ</a>
          <% end %>
          <span id="setting"></span>
        </div>

      </div>
    </nav>
    <%= yield %>
  </body>
</html>
